<launch>

  <!-- ORB_SLAM2 RGBD -->
	<node pkg="orb_slam2" type="mono" name="mono" output="screen" args="$(find orb_slam2)/Vocabulary/ORBvoc.txt $(find run_files)/params/camera_info.yaml">
		<rosparam command="load" file="$(find run_files)/params/yolo.yaml" />
	</node>
  <!-- <node pkg="cone_map" type="cone_map.py" name="cone_map" output="screen"/> -->

</launch>
